trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'htmlapp'
  tag: 'latest'
  acrLogin: 'project2acr123.azurecr.io'

steps:
  # Install Podman
  - task: Bash@3
    displayName: "Install Podman"
    inputs:
      targetType: inline
      script: |
        sudo apt-get update
        sudo apt-get install -y podman

  # Build and push Podman image
  - task: Bash@3
    displayName: "Build and Push Image Using Podman"
    inputs:
      targetType: inline
      script: |
        podman login $(acrLogin) --username $(ACR_USERNAME) --password $(ACR_PASSWORD)
        podman build -t $(acrLogin)/$(imageName):$(tag) .
        podman push $(acrLogin)/$(imageName):$(tag)

  # Deploy to Azure Container Instance
  - task: AzureCLI@2
    displayName: "Deploy to Azure Container Instance"
    inputs:
      azureSubscription: "azure-connection"
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        az container create \
          --resource-group project2-rg \
          --name html-container \
          --image $(acrLogin)/$(imageName):$(tag) \
          --ports 80 \
          --dns-name-label html-demo-project2 \
          --registry-login-server $(acrLogin) \
          --registry-username $(ACR_USERNAME) \
          --registry-password $(ACR_PASSWORD) \
          --query ipAddress.fqdn
